<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title> Acerca de </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Te encuentras en la página de Acerca de</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
