<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Inicializar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-input
          color="success"
          label="Introduce el tiempo"
          type="number"
          [(ngModel)]="inputValue"
        >
        </ion-input>
        <ion-button color="success" fill="solid" (click)="startLoader()">
          Iniciar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<app-loader *ngIf="showLoader" [showLoader]="showLoader"> </app-loader>
